.nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
button {
  background-color: #fff;
  border: none;
  padding: 5px 10px;
  text-align: center;
  margin: 12px 4px;
  cursor: pointer;
}
