header {
  display: flex;
  justify-content: center;
}

.process-flow {
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.row {
  display: inline-flex;
}
