* {
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
}

.process-flow {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  /* height: 1500px; */
}

.stage {
  margin: 5px;
  display: inline-flex;
  /* height: 50px; */
  width: 200px;
  border: solid 1px #000;
  text-align: left;
}
