* {
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
}

.process-flow {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  column-gap: 5px;
  row-gap: 5px;
}

.stage {
  margin: 5px;
  display: inline-flex;
  width: 200px;
  border: solid 1px #000;
  text-align: left;
}

.role-icon {
  text-align: center;
}

.role-icon:hover .title {
  color: #97d5eb;
  cursor: pointer;
}
